* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #202020;
}

.container {
    display: flex;
    width: 900px;
    justify-content: space-between;
}

.grid {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

button {
    background-color: #3ea6ff;
    padding: 16px 32px;
    color: #333;
    border-radius: 10px;
    cursor: pointer;
}

.color-change {
    display: flex;
    align-items: center;
    gap: 15px;
}

input {
    background: none;
    width: 90px;
    height: 40px;

}

label {
    font-size: 18px;
    font-weight: bold;
    color: #E5E7EB;
}