* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #202020;
}

.container {
    display: flex;
    width: 900px;
    justify-content: space-between;
}

.grid {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}